* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #303030;
    color: whitesmoke;
    font-size: 30px;
}

#wrapper {
    width: 1000px;
    margin: 0px auto;
}

#question {
    margin: 20px;
}

.answer_button {
    display: block;
    font-size: 20px;
    margin: 10px 0;
}
